@import url('@vuepress-reco/tailwindcss-config/lib/client/styles/tailwindcss-base.css');
/* 

.navbar-container .social-links {
  display: none !important;
}
.navbar-container .navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.navbar-container .navbar-links-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.navbar-container .navbar-links .btn-toggle-dark-mode {
  margin-left: auto;
} */

body {
  font-family: "Noto Sans SC", "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Arial, sans-serif !important;
}





.banner-brand__wrapper {
  position: relative;
  overflow: hidden; /* 避免伪元素放大溢出 */
}

/* 应用动画 */
.banner-brand__wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/bg.svg") center center / cover no-repeat;
  animation: blurOnce 20s forwards;  /* 20秒内循环模糊效果 */
  z-index: 0;
}

/* 创建一个 keyframes 动画 */
@keyframes blurOnce {
  0% {
    filter: blur(9px);
  }
  10% {
    filter: blur(6px);
  }
  20% {
    filter: blur(3px);
  }
  30% {
    filter: blur(1px);
  }
  40% {
    filter: blur(3px);
  }
  50% {
    filter: blur(6px);
  }
  60% {
    filter: blur(9px);
  }
  70% {
    filter: blur(12px);
  }
  80% {
    filter: blur(9px);
  }
  90% {
    filter: blur(6px);
  }
  100% {
    filter: blur(0px);
  }
  
}

















/* 调整文字大小 */
.banner-brand__content .title{
  font-size: 20px !important;
  
}
.banner-brand__content .description {
  font-size: 100px !important;   /* 描述文字缩小 */
  margin-top: 10px;
}
.banner-brand__content .tagline {
  font-size: 20px;   /* 更小的副标题 */
  margin-top: 80px;
  margin-left: 600px;
  opacity: 0.85;     /* 稍微淡一点 */
}



